
extends layout

block content
  #header
    h1
      a(href="http://mongoosejs.com")
        .mongoose mongoose
  h2 plugins search
  form(action='/search')
    input#term(name='term')
    button#search(type='submit') Search
  ul#result

  #addyourown
    p
      | Want to include your 
      a(href="http://mongoosejs.com/docs/plugins.html") plugin
      |  / project? Publish it to 
      a(href="http://npmjs.org/") npm
      |  and add a "mongoose" 
      a(href="http://npmjs.org/doc/json.html#keywords") keyword
      | . If you'd like your github url to display, add a 
      a(href="http://npmjs.org/doc/json.html#repository") repository section
      |  to your package.json. Thats it!
    p.improve
      a(href="https://github.com/aheckmann/mongooseplugins") improve this site
  #litemplate
    li
      h3.name
      p.description
      a.url(href="#") Url
      a.github(href="#") Github
      p
        | updated: 
        span.time
