
extends layout

block content
  h1 plugins search
  form(action='/search')
    input#term(name='term')
    button#search(type='submit') Search
  ul#result

  #litemplate
    li
      h3.name
      p.description
      a.url(href="#") Url
      a.github(href="#") Github
      p
        | updated: 
        span.time
