!!! 5
html(lang='en')
  head
    meta(charset='utf-8')
    meta(name="viewport", content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no")
    title Mongoose Plugin Search
    link(rel='stylesheet', href='/style.css')
  body
    #wrap
      block content
    script(src='/zepto.min.js')
    script(src='/search.js')
