.content {
  position: relative;
}

.toc {
  line-height: 1.5em;
}

.toc.desktop {
  position: fixed;
  left: 0px;
  width: 350px;
}

.toc ul {
  padding-left: 1em;
  margin-left: 10px;
}

.toc h2 a {
  margin-left: 10px;
  color: #818181;
}

.toc.mobile {
  display: none;
}

@media (max-width: 1050px) {
  .mobile {
    display: block !important;
  }

  .desktop {
    display: none !important;
  }

  #select-plugin-mobile {
    margin-left: 10px;
    background-color: white;
    border: 1px solid #dfdfdf;
    padding: 5px;
    font-size: 1.25em;
  }

  pre {
    overflow-x: scroll;
  }
}

#select-plugin {
  margin-left: 10px;
}

#select-plugin-hidden {
  display: none;
  position: absolute;
  width: 250px;
  background-color: #fdfdfd;
  line-height: 1.5em;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
}

#select-plugin .select-plugin-this-repo::after {
  margin-left: 0.5em;
  content: "\25BA";
}

#select-plugin:hover .select-plugin-this-repo::after {
  margin-left: 0.5em;
  content: "\25BC";
}

#select-plugin:hover #select-plugin-hidden {
  display: block;
}

#carbonads-wrapper {
  margin-top: 25px;
  padding-top: 5px;
  border-top: 1px solid #dfdfdf;
  width: 350px;
}
