doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(name="viewport", content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no")
    title Mongoose Plugins Search
    link(rel='stylesheet', href='/style.css')
  body
    #wrap
      block content
    script(src='/zepto.min.js')
    script(src='/search.js')
    script.
      document.body.className = 'load';
    script.
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-34290742-1']);
      _gaq.push(['_trackPageview']);
      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
